<div class="bg-slate-50 h-full w-full">
    <div class="flex">
        <div class="m-5 pt-16">
            <div>
                <h2 class="px-4 text-4xl">You are on the right path</h2>
            </div>
            <div class="pt-10">
                <p>gSearch is a valuable resource for developers and organizations looking to integrate GitHub data into their applications, analyze repositories, track issues, and more.</p>
            </div>
            <div class="mt-10 items-center">   
                <input class="border-slate-400 mr-1 border-2 rounded-full py-1 px-5" type="text"  placeholder="Username...">
                <svg class="w-7 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                </svg>         
            </div>
        </div>
        <div class="m-5">
            <img class="w-full relative mx-auto rounded-lg overflow-hidden" src="assets/images/logo.jpg" alt="My Image">
        </div>
    </div>

</div>