
<!-- Toolbar -->
<!-- <nav class="bg-slate-100 md:flex justify-between h-20 items-center"> 
    <div>
      <div class="flex justify-between items-center">
        <h2 class="ml-8 text-2xl">gSearch</h2>
        <div class="px-4 cursor-pointer md:hidden" id="nav">
          <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="">
      <ul class="flex text-sm mr-10 gap-5 items-center" id="menu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li> 
        <li><a href="">Contacts</a></li>
      </ul>
    </div>
</nav> -->

<nav class="container relative mx-auto p-6 bg-red-300">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <p>gSearch</p>
    </div>
    <div class="space-x-6">
      <a href="" class="hover:text-slate-400">Home</a>
      <a href="" class="hover:text-slate-400">About</a>
      <a href="" class="hover:text-slate-400">Contacts</a>
    </div>
  </div>
</nav>

<app-home></app-home>


<router-outlet></router-outlet>
