<section>
    <div class="container flex flex-col items-center pb-5 px-6 mx-auto mt-7 space-y-3 md:space-y-0 md:flex-row">
        <div class="flex flex-col items-center space-y-6 md:w-1/2">
            <img class="rounded-full w-32 h-32 mt-10" src="assets/images/qqqq.jpg" alt="">
            <div>
                <a href="">View Profile</a>
            </div>
        </div>
        <div class="flex flex-col pl-10 space-y-1 md:w-1/2">
            <p>Name: John Madondo </p>        
            <p>Following: 20</p>
            <p>Followers: 30</p>            
            <p>Joined:2years ago</p>
        </div>
    </div>
</section>

