.gradient__text {
    background:var( --gradient-text );
    background-clip: text;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}